body {
    background: url('../img/superMario.png') no-repeat fixed;
    background-size: cover;
    background-position-y: 95%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header {
    position: relative;
    width: 450px;
}

.main {
    position: relative;
    width: 1000px;
    height: 550px;
    background-image: linear-gradient(var(--light-blue800), var(--light-blue900));
    border: 10px solid var(--border);
    overflow: hidden;
}

.supermario__clouds {
    position: absolute;
    width: 400px;
    top: 25px;
    animation: supermario__clouds 18s infinite linear;
}

.supermario__mario {
    position: absolute;
    width: 165px;
    bottom: 40px;
    z-index: +99;
}

.jump {
    animation: supermario__mario 550ms ease-out;
}

.supermario__pipe {
    position: absolute;
    width: 90px;
    bottom: 40px;
    animation: supermario__pipe 1.5s infinite linear;
}

.supermario__floor {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
}

.start__button {
    display: none;
    position: absolute;
    padding: 14px 60px;
    background-color: var(--dark-green);
    font-family: 'Luckiest Guy', cursive;
    font-size: 32px;
    color: white;
    letter-spacing: 2.5px;
    border: none;
    border-radius: 40px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, .6), inset 0 4px 6px rgba(255, 255, 255, .25), inset 0 -4px 6px rgba(0, 0, 0, .3);
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .1s ease-in-out;
}

.start__button:hover {
    background-color: var(--green);
    color: white;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, .4), inset 0 4px 6px rgba(255, 255, 255, .25), inset 0 -4px 6px rgba(0, 0, 0, .3);
}

.start__button:active {
    background-color: var(--light-green);
    color: var(--dark-green);
    box-shadow: 6px 6px 8px rgba(0, 0, 0, .2), inset 3px 3px 6px rgba(0, 80, 3, 0.2);
}

@keyframes supermario__clouds {
    from {
        right: -400px;
    }

    to {
        right: 100%;
    }
}

@keyframes supermario__mario {
    0% {
        bottom: 40px;
    }

    40% {
        bottom: 200px;
    }

    60% {
        bottom: 200px;
    }

    100% {
        bottom: 40px;
    }
}

@keyframes supermario__pipe {
    from {
        right: -90px;
    }

    to {
        right: 100%;
    }
}